body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2B3044;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
}

/* Ensure each section fills the viewport and has its own color */


/* Style each section with its own background color */
#section1 {
  background-color: #2B3044;
  color: white;
  min-height: 100vh; /* Set minimum height to fill the viewport */
  padding: 50px 0; /* Add padding to create space between sections */
  box-sizing: border-box; /
}

#section2 {
  background-color: #495172;
  color: white; 
  min-height: 100vh; /* Set minimum height to fill the viewport */
  padding: 50px 0; /* Add padding to create space between sections */
  box-sizing: border-box; /

}

#section3 {
  background-color: #7784B6;
  color: white;
  min-height: 100vh; /* Set minimum height to fill the viewport */
  padding: 50px 0; /* Add padding to create space between sections */
  box-sizing: border-box; /
}

#section4 {
  background-color: #B8C0DF;
  color: white;
  
}


/* coding for the logo and nav bar starts here*****************************************'*/
/*ændre størrelse på logo*/
.logo{
  width: 180px;
}

/*ændre på udseendet af nav-bar. give padding, float, with*/
.nav-links{
  float: right;
}

.nav-links li{
  padding: 40px;
  margin-left: 150px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #2B3044;
  font-family: "shlop",sans-serif;


}
/* Style unordered list */
.navbar ul {
  list-style-type: none;
  padding: 0;

}

nav ul li a.active {
  /* Style for active link */
  color: #3D989B;
  font-weight: bold;
}

/* Style list items */
.navbar li {
  display: inline-block;
}

/* Style navigation links */
.navbar a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

/* ændre farven ved hover */
.navbar a:hover {
  color: #000000;
}

.buttonbuy {
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Add border radius to make it look like a button */
  background-color: #3D989B; /* Add background color */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  font-family: "shlop",sans-serif;;
}

.buttonbuy.buttonbuy:hover {
  background-color: #cb4853; /* Change background color on hover */
}

/* styling for the logo, nav bar ends  here********************************************************/

section {
  height: 100vh; /* Set the height of each section to 100% of the viewport height */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

/* sty for the firsts section starts here*/


h2 {
  color:white;
  font-family: "shlop", sans-serif;
  
}

#section1 {
  background-color: #2B3044;
  color: white;

}

#section1 {
  background-image: url('/img/Untitled\ design.jpg');
  background-size: cover; /* Scale the background image to cover the entire element */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  color: white;
  height: 500px;
  padding: 50px;
  
}

#section1 h2 {
 
  font-size: 5rem;
}

#section1 p{
  font-size: 25px;
  margin-left: 70px;
  margin-bottom: 170px;

}
.title{
  margin-top: 160px;
  margin-left: 100px;
}

.buttonbuy1 {
  margin-left: 170px;
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Add border radius to make it look like a button */
  background-color: #3D989B; /* Add background color */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  font-family: "shlop",sans-serif;;
 font-size: 1.3rem;
 
 margin-top: 120px;

}

/* styling for the firsts section ends here*/
/* styling for the second section starts here*/
/*indsæt baggrundbillede der dækker siden og er fixed og relative*/
/* Placer indhold i kolonner */


/* Style tekstboksen */
/* Style tekstboksen */
.boxsection {
  margin: 30px 0px;
  padding: 0;
  background-color: #7784B6;
  position: relative;
  display: flex;
  flex-direction: colum;
}

.box {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%; /* Adjust width as needed */
  color: white;
}

.content1 {
  display: flex;
}

.image {
  width: 400px; /* Adjust width as needed */
  margin-right: 30px; /* Adjust margin as needed */
}

.text1 {
  flex: 1;
  margin-left: 300px;
  background-color: #7784B6;
  padding: 90px
}

.box h2 {
  font-size: 30px;
  margin: 15px 0;
}

.box p {
  margin-bottom: 20px;
}

.button {
  background-color: #3D989B;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  
}

.button:hover {
  background-color: #306e70;
}

/* styling for the second section ends here*/

/* styling for the third section starts here*/


article {
  text-align: center; 
  background-color: #7784B6;
}


article img {
  max-width: 100%; 
  height: auto; 
  margin-top: 20px; 
}

.igcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: row
}



.infographic {
  display: flex; 

}

.infographic img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  max-width: 100%;
  cursor: zoom-in;
  transition: transform 1s;
  border: 5px solid #F8AB9D;
  border-radius: 20px;
  margin-bottom: 20px;
 margin-right: 150px;
}

input[type=checkbox] {
  display: none;
}

input[id="zoom_img"]:checked ~ label > img {
  transform: scale(1.2);
  cursor: zoom-out;
  transition: transform 1s ease;
}
.igtekst{
  margin-right: 130px;
  width: 90%;
}
.igtekst h2 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
 
}

.igtekst p {
  color: #fff;
  margin: 0 10%;
  font-size: 20px;
  text-align: center;
  padding: 30px;
  font-weight: 500;
line-height: 1.6;


}

.button {
  background-color: #3D989B;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px; /* Adjust button font size */
  transition: background-color 0.3s;
  font-family:"shlop",sans-serif; ;
  
}

.button:hover {
  background-color: #306e70;
}

/* styling for the fourth section starts here*/

#section4 {
  background-color: #B8C0DF;
  margin-top: 360px;
 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.text {
  padding: 20px; /* Adjust padding as needed */
  text-align: center;
  color: #fff;
 
  
}

.video-container {
  position: relative;
  width: 80%; /* Adjust width as needed */
  margin: 0 auto; /* Center the container */
}

.video-container video {
  width: 70%;
  height: auto;
  margin-left: 190px;
}


/* styling of section 5 starts here */

#section5 {
  background-color:#92A8E9; /* Adjust background color as needed */
  padding: 50px 0;
}


.split {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left,
.right {
  width: 48%; /* Adjust width as needed */
}

.left {
  border-right: 1px solid #ccc; /* Add a vertical border */
  padding-right: 20px; /* Adjust padding as needed */
  margin-left: 100px;
}

.right {
  padding-left: 20px; /* Adjust padding as needed */
}

#section5 h4 {
  font-size: 20px; /* Adjust font size as needed */
  margin-bottom: 10px; /* Adjust margin as needed */
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-bottom: 10px; /* Adjust margin as needed */
}

button {
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  background-color: #3D989B; /* Adjust button background color */
  color: #fff; /* Adjust button text color */
  cursor: pointer;
 
  
}

button:hover {
  background-color: #306e70; /* Adjust button background color on hover */
}
