body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2B3044;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
}

/* coding for the logo and nav bar starts here*****************************************'*/
/*ændre størrelse på logo*/
.logo{
  width: 180px;
}

/*ændre på udseendet af nav-bar. give padding, float, with*/
.nav-links{
  float: right;
}

.nav-links li{
  padding: 50px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #2B3044;
  font-family: "shlop",sans-serif;


}
/* Style unordered list */
.navbar ul {
  list-style-type: none;
  padding: 0;

}

nav ul li a.active {
  /* Style for active link */
  color: #3D989B;
  font-weight: bold;
}

/* Style list items */
.navbar li {
  display: inline-block;
}

/* Style navigation links */
.navbar a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

/* ændre farven ved hover */
.navbar a:hover {
  color: #000000;
}

.buttonbuy {
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Add border radius to make it look like a button */
  background-color: #3D989B; /* Add background color */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  font-family: "shlop",sans-serif;;
}

.buttonbuy.buttonbuy:hover {
  background-color: #cb4853; /* Change background color on hover */
}

/* styling for the logo, nav bar ends  here********************************************************/

/* sty for the firsts section starts here*/
section {
  margin-bottom: 50px;
  margin-top: 100px;
  padding-top: 100px;
  
}

h2 {
  color:white;
  font-family: "shlop", sans-serif;
  
}

#section1 {
  background-color: #2B3044;
  color: white;

}

#section1 {
  background-image: url('/img/Untitled\ design.jpg');
  background-size: cover; /* Scale the background image to cover the entire element */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  color: white;
  height: 500px;
  padding: 50px;
  
}

#section1 h2 {
 
  font-size: 5rem;
}

#section1 p{
  font-size: 25px;
  margin-left: 70px;
  margin-bottom: 170px;

}
.title{
  margin-top: 160px;
  margin-left: 100px;
}

.buttonbuy1 {
  margin-left: 170px;
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Add border radius to make it look like a button */
  background-color: #3D989B; /* Add background color */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  font-family: "shlop",sans-serif;;
 font-size: 1.3rem;
 
 

}

/* styling for the firsts section ends here*/
/* styling for the second section starts here*/
#section2{
  background-color: #495172;
  display: flex;

}

.virus-image{

}
/* styling for the second section ends here*/

/* styling for the third section starts here*/


article {
  text-align: center; 
  background-color: #7784B6;
}

article h2 {
  margin-bottom: 20px; 
  
}

article img {
  max-width: 100%; 
  height: auto; 
  margin-top: 20px; 
}

.igcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: row;
}



.infographic {
  display: flex; 

}

.infographic img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
  max-width: 100%;
  cursor: zoom-in;
  transition: transform 1s;
  border: 5px solid #F8AB9D;
  border-radius: 20px;
  margin-bottom: 20px;

}

input[type=checkbox] {
  display: none;
}

input[id="zoom_img"]:checked ~ label > img {
  transform: scale(1.2);
  cursor: zoom-out;
  transition: transform 1s ease;
}

.igtekst h2 {
  font-size: 5rem;
  color: #3E2B05;
  text-align: center;
  margin-top: 50px;
}

.igtekst p {
  margin: 0 10%;
  font-size: 25px;
  text-align: center;
  padding: 40px;
  font-weight: 500;
line-height: 1.6;
}
